spring:
  application:
    name: wayde
  datasource:
    # To run the backend locally
    #url: jdbc:postgresql://localhost:5432/mydatabase
    #username: myuser
    #password: mypassword
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  liquibase:
    change-log: classpath:liquibase-changelog.xml